<h1>Patients :</h1>
<div class="card">
<p-confirmDialog></p-confirmDialog>
<p-table
    [value]="patients"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Affichage des patients {first} à {last} | Total de patients : {totalRecords} "
    [rowsPerPageOptions]="[5, 10, 20]"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:16%">Prénom Parent</th>
            <th style="width:16%">Nom Parent</th>
            <th style="width:16%">Prénom Patient</th>
            <th style="width:16%">Nom Patient</th>
            <th style="width:20%">Statut abonnement</th>
            <th style="width:16%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-patient>
        <tr>
            <td>{{patient.prenomParent}}</td>
            <td>{{patient.nomParent}}</td>
            <td>{{patient.prenom}}</td>
            <td>{{patient.nom}}</td>
            <td>
              <p-badge [value]="patient.abonnementStatut ? 'Abonné' : 'Non abonné'" [severity]="patient.abonnementStatut ? 'success' : 'danger'"/>
            </td>
            <td>
                <button type="button" style="margin-right: 15px;" severity="warn" pButton icon="pi pi-pen-to-square" (click)="editPatient(patient)"></button>
                <button type="button" style="margin-right: 15px;" severity="danger" pButton icon="pi pi-trash" (click)="deleteOrDeactivate(patient)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="goToPage('create-patient')"></p-button>
    </ng-template>
</p-table>
<p-toast></p-toast>
</div>
