<div class="surface-card p-4 shadow-2 border-round" style="max-width: 800px">
  <div class="text-center mb-5">
    <p-card>
      <ng-template #header>
        <img alt="Card" style="height: 40vh;width: 100%;" *ngIf="this.animations[this.currentIndex] != null && currentMode == 0"  src="{{'data:' + this.animations[this.currentIndex].gif.mimetype + ';base64, ' + this.animations[this.currentIndex].gif.data }}"/>
        <img alt="Card" style="height: 40vh;width: 100%;" *ngIf="this.animations[this.currentIndex] != null && currentMode == 1" class="w-full" src="{{'data:' + this.animations[this.currentIndex].image.mimetype + ';base64, ' + this.animations[this.currentIndex].image.data }}"/>
      </ng-template>
      <ng-template #title>{{animations[currentIndex] != null ? animations[currentIndex].libelle : 'Chargement...'}}</ng-template>
      <ng-template #footer>
        <div class="flex gap-4 mt-1">
          <p-button label="Photo" class="w-full" styleClass="w-full" (onClick)="changeMode(0)"/>
          <p-button label="Son" class="w-full" styleClass="w-full" (onClick)="playSound()"/>
          <p-button label="Dessin" class="w-full" styleClass="w-full" (onClick)="changeMode(1)"/>
        </div>
        <div class="flex gap-4 mt-1">
          <p-button label="Suivant" class="w-full" styleClass="w-full" (onClick)="nextAnimation()" />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
